html{
    scroll-behavior: smooth;
}
body{
    font-family: 'Poppins';
}

h1{
    font-size: 3.5rem;
    font-weight: bolder;
    color: #fff;
    font-family: 'Montserrat';
}

#title{
    background-color: #ff4c68;
    padding-bottom: 6%;
}

.title1{
    padding-bottom: 5%;
}
.ul-nav-toggler{
    text-align: right;
}

/* This will remove outline from the toggle button after clicking */
.navbar-toggler:focus{
    outline: none;
}

.container-fluid{
    padding: 3% 15% 7%;
}

#tindog{
    font-size: 3rem;
    font-family: 'Ubuntu';
}

.navbarbtn{
    font-size: 1.5rem;
    font-weight: bold;
}
.mynav{
    padding-left: 0%;
}

#contact{
    margin:0 10px 0 10px;
}
#contact:hover{
    transform: scale(1.15);
}
#pricing{
    margin:0 10px 0 10px;
}
#pricing:hover{
    transform: scale(1.15);
}
#download{
    margin:0 10px 0 10px;
}
#download:hover{
    transform: scale(1.15);
}
.btn{
    margin: 3px;
}
.btn:hover{
    transform: scale(1.15);
}

#iphoneimg{
    transform: rotate(25deg);
    width: 60%;
  position: absolute;
  margin-left: 13px;
}


#features{
    padding: 11.5% 15%;
    text-align: center;
    font-size: 1rem;
    background-color: #fff;
    position: relative;
    z-index: 1;
}
.featuresh3{
    font-size: 2rem;
    font-weight: bolder;
}
.icon{
    color:#ef8172;
    margin-bottom: 5px;
}
.icon:hover{
    color:#ff4c68;
}

#testimonials{
    background-color: #ef8172;
    text-align: center;
    color: #fff;
}
#testimonials h2{
    color: #1f1f1f;
    font-weight:bold;
    font-size: 2rem;
    line-height: 2rem;
}
.testimonial-img{
    width: 10%;
    border-radius: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 3px;
}
.testimonial-img:hover{
    transform: scale(1.2);
}
.carousel-item{
    padding: 8% 15%;
}
#press{
    text-align: center;
    padding-bottom: 3%;
}
.press-img{
    width: 15%;
    margin: 20px 20px 50px;
}
.press-img:hover{
    transform: scale(1.2);
}

#pricing1{
    text-align: center;
    padding: 100px;
}

#pricing1 h2,h3{
  font-size: 2rem;
  font-weight: bold;
   line-height: 1.5;
   color: #1f1f1f;
}

#cta{
    background-color: #ff4c68;
    padding: 5% 15%;
    text-align: center;
}
#cta h3{
    font-size: 3.5rem;
    line-height: 1.5;
    font-weight: bold;
    color: #fff;
}

#footer{
    text-align: center;
    padding: 7% 15%;
}

.fa-2x{
    color: #1f1f1f;
    margin: 5px;
}
.fa-2x:hover{
    transform: scale(1.25);
    color: gray;
}

@media (max-width: 1000px){
     #iphoneimg{
         position: static;
         transform:rotate(0deg);
         margin-top: 20px;
     }
     #title{
         text-align: center;
     }
     .btn{
         margin: 10px;
     }
}